In [37]:
import mariadb

In [38]:
from dotenv import load_dotenv
import os

In [39]:
load_dotenv()

#connection parameters

conn_params={
    'host':os.getenv('DB_HOST'),
    'user':os.getenv('DB_USER'),
    'password':os.getenv('DB_PASSWORD'),
    'database':os.getenv('DB_NAME'),
    'port':3306
}

#create the connection
conn=mariadb.connect(**conn_params)

#create connection object
cur=conn.cursor()

In [40]:
result=cur.execute('Select * from customers')

In [41]:
res=cur.fetchall()
res

[(1, 'Ajita', 'Nepal', 350),
 (2, 'Jake', 'USA', 900),
 (3, 'John', 'UK', 750),
 (4, 'Oscar', 'Australia', 500),
 (5, 'Radha', 'UK', 505),
 (6, 'Shiva', 'Nepal', 505),
 (8, 'Sunoo', 'USA', 600)]

In [42]:
cur.fetchall()

[]

## insert data into database using python

In [49]:
with conn.cursor() as cur:
    cur.execute('Insert into customers(id,first_name,country,score) values (?,?,?,?)', (6,'Shiva','Nepal',505))
    conn.commit()

## inserting multiple values at a time

In [ ]:
customer_details=[
    (7,'Lucky','UK',599),
    (8,'Sunoo','Korea',600)
]

In [ ]:
with conn.cursor() as cur:
 cur.executemany('Insert into practice_db.customers(id,first_name,country,score) values (?,?,?,?)',customer_details)
 conn.commit()

## updating the data

In [ ]:
with conn.cursor() as cur:
    cur.execute('UPDATE customers set country=? where id=?',('USA',8))
    conn.commit()

## deleting the data

In [ ]:
with conn.cursor() as cur:
    cur.execute('Delete from customers where id = ?',(7,))
    conn.commit()

## reading data

In [50]:
with conn.cursor() as cur:
    cur.execute('Select * from customers')
    rows=cur.fetchall()

for row in rows:
    print(row)

(1, 'Ajita', 'Nepal', 350)
(2, 'Jake', 'USA', 900)
(3, 'John', 'UK', 750)
(4, 'Oscar', 'Australia', 500)
(5, 'Radha', 'UK', 505)
(6, 'Shiva', 'Nepal', 505)
(8, 'Sunoo', 'USA', 600)