## Practice_sql_questions

1. List all the films in the Sakila database.
2. Select all columns from the actor table.
3. Display the first and last names of all actors from the table `actor`.
4. Display the first and last name of each actor in a single column in upper case letters. Name the column Actor Name.
5. You need to find the ID number, first name, and last name of an actor, of whom you know only the first name, "Joe." What is one query would you use to obtain this
6. Show all the distinct categories in the `category` table.
7. List all distinct languages from the `language` table.
8. Show all customers from the city of 'Dallas'.
9. List all films released in the year 2006 and beyond.
10. Find all staff members who are active.
11. Find all the Customers who are active
12. Display all films with a rental duration greater than 3 days.
13. Find all actors whose last names contain the letters LI. This time, order the rows by last name and first name, in that order
14. Using IN, display the country_id and country columns of the following countries: Afghanistan, Bangladesh, and China

15. Show the top 5 films with the longest duration.
16. List the first 10 customers in alphabetical order.
17. Find all films with a rental rate less than 2.00.
18. List all films that have ‘DOG’ in the title.
19. Show the most recently added customer.
20. List the cheapest 10 movies.

21. Count the number of customers.
22. Show the total number of rentals per customer.
23. Find the number of films in each rating.
24. Show the average rental rate of films.
25. Find the highest payment amount made.
26. Display the number of films per language.
27. Find the average film length grouped by rating.

28. Use JOIN to display the first and last names, as well as the address, of each staff member. Use the tables staff and address
29. Use JOIN to display the total amount rung up by each staff member in August of 2005. Use tables staff and payment.
30. List each film and the number of actors who are listed for that film. Use tables film_actor and film. Use inner join.
31. Find the store that has maximun number of active staff
32. Use Join to find the full address of a customer. It should include country, city, address and postal code along with customer name and id
33. Find the Number of customer for each country
34. Find the Number of Customer for each city
35. Display customers who have rented at least one movie with film titles.
36. Display customers who have not rented a single movie
37. How many copies of the film Hunchback Impossible exist in the inventory system?
38. Using the tables payment and customer and the JOIN command, list the total paid by each customer. List the customers alphabetically by last name: Total amount paid