## Practice_sql_questions

1. List all the films in the Sakila database.
2. Select all columns from the actor table.
3. Display the first and last names of all actors from the table `actor`.
4. Display the first and last name of each actor in a single column in upper case letters. Name the column Actor Name.
5. You need to find the ID number, first name, and last name of an actor, of whom you know only the first name, "Joe." What is one query would you use to obtain this
6. Show all the distinct categories in the `category` table.
7. List all distinct languages from the `language` table.
8. Show all customers from the city of 'Dallas'.
9. List all films released in the year 2006 and beyond.
10. Find all staff members who are active.
11. Find all the Customers who are active
12. Display all films with a rental duration greater than 3 days.
13. Find all actors whose last names contain the letters LI. This time, order the rows by last name and first name, in that order
14. Using IN, display the country_id and country columns of the following countries: Afghanistan, Bangladesh, and China